{% extends 'AppBlog/base.html' %}
{% load static %}

{% block content %}

<section>
    <div>
      
      <a href="{% url 'crear_etiquetas' %}">Crear etiquetas</a>

      <br><br>
      
      
    <p> Vista Inicio <p/> 
   
    <p> Usar el formulario debajo para buscar etiquetas de posts.  <p>

    
    <p> 
      <form action="{% url 'buscar_etiquetas' %}" method="get">

        {% csrf_token %}

        {{form}}
        
        <input type="submit" value="Buscar por etiqueta">
      </form>
      <br>

      {% if mensaje %}
      
        <p>{{ mensaje }}</p>
        
    {% else %}
        <ul>
            {% for etiqueta in etiquetas_del_post %}
                <li>La etiqueta {{ etiqueta.etiquetas_del_post }} se encuentra en la base de datos.</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>  
    </div>
   </section>
   



{%  endblock %}