{% extends 'AppBlog/base.html' %}
{% load static %}

{% block content %}

<section>
    <div>
      <h1>Lista de etiquetas </h1>

      <a href="{% url 'crear_etiquetas' %}">Crear etiquetas</a>

      <br><br>
      
      <form action="{% url 'buscar_etiquetas' %}" method="post">
        {% csrf_token %}
        {{form}}
        
        <input type="submit" value="Buscar por etiqueta">
      </form>
      <br>

      {%  if etiquetas_del_post %}

      <ul>
      {% for etiqueta in etiquetas_del_post %}

      <li>La etiqueta {{ etiqueta.etiquetas_del_post }} se encuentra en la base </li>
      {% endfor %}
    </ul>
      
    {% else %}
        No se encontraron datos

      {% endif %}
      
    </div>
   </section>
   



{%  endblock %}